@inject NavigationManager NavigationManager
@page "/Account"
<h3>Account Page</h3>
<div class="d-block">
	@if (StaticClass.UserAuth != null)
	{
		<H3>@StaticClass.UserAuth.Name</H3>
		<Text>Orders:</Text>
		<div class="d-flex flex-column">

			@foreach (var order in StaticClass.UserAuth.Order)
			{
				<p>@order.DateOrder.ToString("d") - @order.SumOrder рублей</p>

				<hr />
			}


		</div>
	}
</div>
@code {
	protected override void OnInitialized()
	{
		if (StaticClass.UserAuth == null)
			NavigationManager.NavigateTo("/Login", true);
	}
}
